.navbar.navbar-default
	.container-fluid
		ul.nav.navbar-nav.navbar-right
			li
				a(href='/') Patient Tracker
			li
				a(href='/admit') Admit Patient
			li
				a(href='/login') Login
			li
				a(href='/register') Register