.navbar.navbar-default
	.container-fluid
		ul.nav.navbar-nav.navbar-right
			if user
				li(class={active: !page })
					a(href='/') Patient Tracker
				li(class={active: page === 'admit' })
					a(href='/admit') Admit Patient
				li 
					a(href='/logout') #{user} is logged in
			else
				li(class={active: page === 'login' })
					a(href='/login') Login
				li(class={active: page === 'register' })
					a(href='/register') Register